@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.text-primary {
  color: #326dee;
}

.text-secondary {
  color: #1ac886;
}

.text-error {
  color: #d32752;
}

.text-info {
  color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.text-red {
  color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.text-green {
  color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.text-gray {
  color: #808080;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.btn-primary {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #326dee;
}
.btn-primary:hover {
  background-color: #e93030;
}

.btn-secondary {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #1ac886;
}
.btn-secondary:hover {
  background-color: #e93030;
}

.btn-error {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #e93030;
}

.btn-info {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #e93030;
}

.btn-blue {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #1919e6;
}
.btn-blue:hover {
  background-color: #e93030;
}

.btn-red {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #e61919;
}
.btn-red:hover {
  background-color: #e93030;
}

.btn-yellow {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #e6e619;
}
.btn-yellow:hover {
  background-color: #e93030;
}

.btn-green {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #19e635;
}
.btn-green:hover {
  background-color: #e93030;
}

.btn-orange {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #e93030;
}

.btn-purple {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #e93030;
}

.btn-gray {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: #808080;
}
.btn-gray:hover {
  background-color: #e93030;
}

.btn-black {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: black;
}
.btn-black:hover {
  background-color: #e93030;
}

.btn-white {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
  background-color: white;
}
.btn-white:hover {
  background-color: #e93030;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    flex-grow: 0;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background: #f7f7f7;
}
header nav .menu__bar {
  opacity: 1;
}
@media (min-width: 720px) {
  header nav .menu__bar {
    opacity: 0;
  }
}
header .navi__logo {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
}
header ul {
  display: none;
}
@media (min-width: 720px) {
  header ul {
    display: flex;
  }
}
header ul a {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
}
header ul a:hover {
  color: #1ac886;
}

section .section1__img {
  width: 100%;
  height: calc(100vh - 3.9375rem);
}

div:first-child {
  align-self: center;
}
div:first-child button {
  margin: 0;
}
div h1 {
  font-size: 3rem;
}
div h2 {
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */